body {
  background-color: #6f07ac;
}

.general-box {
  /* center of the page both vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  /* translate the box to the center of the page */
  transform: translate(-50%, -50%);
}
